<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <title>老師回覆</title> 
        <!--<link rel="icon" href="/static/favicon.png" sizes="16x16">-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css">
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico"/>
        <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    
    
    <body>
        <div id="wrapper_for_sticky_footer">
        <div id="bg">
            <div class="img-mobile">
                <img style="opacity:0.4;" src="/static/star-left.png" alt="star" class="img-star-left">
                <img style="opacity:0.4;" src="/static/star-right.png" alt="star" class="img-star-right">
                <img src="/static/cloud-1.png" class="bg-cloud" style="z-index: -2;">
                <img src="/static/cloud-2.png" class="bg-cloud" style="z-index: -3;">
            </div>

            <div class="img-tablet">
                <img src="/static/star-left-web.png" alt="star" class="img-star-left">
                <img src="/static/star-right-web.png" alt="star" class="img-star-right">
                <img src="/static/cloud-form-web.png" alt="bg-cloud" class="bg-cloud-web">
            </div>

            <div class="img-web">
                <img src="/static/star-left-web.png" alt="star" class="img-star-left">
                <img src="/static/star-right-web.png" alt="star" class="img-star-right">
                <img src="/static/cloud-form-web.png" alt="bg-cloud" class="bg-cloud-web">
            </div>
        </div>
            
        <header id="header" class="sticky">
            <div class="img-mobile">
                <img src="/static/icon-hamburger.png" alt="hamburger-menu" class="icon-hamburger">
            </div>
            <div class="img-tablet">
                <img src="/static/icon-hamburger.png" alt="hamburger-menu" class="icon-hamburger">
            </div>

            <div class="img-web">
                <!-- Web Sticky Header -->
                <div class="flexbox-horizontal-web" style="align-items: center;">
                    <img src="/static/icon-angel.png" alt="icon-angel" class="icon-angel">
                    <div>
                        <a href="/home" class="menu">首頁</a>
                        <a href="/forms" class="menu">傳情 &#9993;&#xFE0F;</a>
                        <a href="/board" class="menu">留言板 &#9997;&#xFE0F;</a>
                        <a href="/vote" class="menu">投票所 &#128499;</a>
                        <a href="/thanks_card" class="menu">謝師函 &#127880;</a>
                    </div>
                    
                </div>
            </div>
        </header>

        <!-- Mobile Hamburger Menu -->
        <div id="hamburger-menu" class="">
            <a href="/home" class="menu">首頁</a>
            <a href="/forms" class="menu">傳情 &#9993;&#xFE0F;</a>
            <a href="/board" class="menu">留言板 &#9997;&#xFE0F;</a>
            <a href="/vote" class="menu">投票所 &#128499;</a>
            <a href="/thanks_card" class="menu">謝師函 &#127880;</a>
            <img src="/static/icon-close.png" alt="icon-close" class="icon-close">
        </div>
          
        <section id="thanks_card" class="center-aligned">
            <div class="img-mobile">
            <div class="dialogue">
            <div style="border-bottom:3px rgb(255, 255, 255) solid ; box-shadow: 0 6px 4px -4px #888;">
                <h3 style="font-size: 20px;">＜13&emsp;政大會計系教師群組&emsp;&#128269;📒</h3>
            </div>
            <div class="user local" style="margin-top:20px">
                <div class="avatar">
                    <div class="pic">
                    <img src="/static/Profile Pic.png" />
                    </div>
                    <div class="name">小計</div>
                </div>
                <div class="text">謝謝老師們4年來的照顧！</div>
                </div>
                <div class="user local">
                    <div class="avatar">
                        <div class="pic">
                            <img src="/static/Profile Pic.png" />
                        </div>
                        <div class="name">小計</div>
                    </div>
                    <div class="text">希望各位老師會喜歡我們準備的謝師卡&#10084;</div>
                </div>
            <div class="user remote">
            <div class="avatar">
                <div class="pic">
                <img src="/static/thanks_card/周玲臺2.jpg" />
                </div>
                <div class="name">周玲臺老師</div>
            </div>
            <div class="text">編輯團隊與81屆乙班畢業生大家好：<br>
                真是開心收到妳們團隊製作的謝師電子書，內容好豐富好可愛，讓我想起你們一張張熟悉又清純的臉龐。在疏離的疫情當中，激起我內心澎湃的感情。
                是我的榮幸，在退休前最後一班審計課教到你們，三年多前也有幸在啟蒙的初會接到你們這一班，緣分匪淺呢！從開始到結束，多難得的偶然！
                會計、審計內容可能會變，我與你們的師生情分永遠不變。有空多連絡，更祝福你們 鵬程萬里，專業精進！</div>
            </div>
            <div class="user remote">
                <div class="avatar">
                    <div class="pic">
                    <img src="/static/thanks_card/金成隆1.jpg" />
                    </div>
                    <div class="name">金成隆老師</div>
                </div>
                <div class="text">裡面那位先生好帥!!!謝謝!</div>
                </div>
                <div class="user remote">
                    <div class="avatar">
                        <div class="pic">
                        <img src="/static/thanks_card/林宛瑩2.jpg" />
                        </div>
                        <div class="name">林宛瑩老師</div>
                    </div>
                    <div class="text">謝謝你們的用心與心意<br>
                        是一份令我萬分窩心的禮物<br>
                        不知電子卡片能下載嗎?想好好牢記大家的心意<br>
                        祝  你們  鵬程萬里  一展長才</div>
                    </div>
                    <div class="user remote">
                        <div class="avatar">
                            <div class="pic">
                            <img src="/static/thanks_card/諶家蘭2.jpg" />
                            </div>
                            <div class="name">諶家蘭老師</div>
                        </div>
                        <div class="text">很感動，謝謝同學們的畢業感言。</div>
                        </div>
            </div>
            </div>
            
            <div class="img-tablet">
            <div class="dialogue">
            <div style="border-bottom:3px rgb(255, 255, 255) solid ; box-shadow: 0 6px 4px -4px #888;">
                <h3>＜13&emsp;政大會計系教師群組&emsp;&#128269;📒</h3>
            </div>
            <div class="user local" style="margin-top:20px">
                <div class="avatar">
                    <div class="pic">
                    <img src="/static/Profile Pic.png" />
                    </div>
                    <div class="name">小計</div>
                </div>
                <div class="text">謝謝老師們4年來的照顧！</div>
                </div>
                <div class="user local">
                    <div class="avatar">
                        <div class="pic">
                            <img src="/static/Profile Pic.png" />
                        </div>
                        <div class="name">小計</div>
                    </div>
                    <div class="text">希望各位老師會喜歡我們準備的謝師卡&#10084;</div>
                </div>
            <div class="user remote">
            <div class="avatar">
                <div class="pic">
                <img src="/static/thanks_card/周玲臺2.jpg" />
                </div>
                <div class="name">周玲臺老師</div>
            </div>
            <div class="text">編輯團隊與81屆乙班畢業生大家好：<br>
                真是開心收到妳們團隊製作的謝師電子書，內容好豐富好可愛，讓我想起你們一張張熟悉又清純的臉龐。在疏離的疫情當中，激起我內心澎湃的感情。
                是我的榮幸，在退休前最後一班審計課教到你們，三年多前也有幸在啟蒙的初會接到你們這一班，緣分匪淺呢！從開始到結束，多難得的偶然！
                會計、審計內容可能會變，我與你們的師生情分永遠不變。有空多連絡，更祝福你們 鵬程萬里，專業精進！</div>
            </div>
            <div class="user remote">
                <div class="avatar">
                    <div class="pic">
                    <img src="/static/thanks_card/金成隆1.jpg" />
                    </div>
                    <div class="name">金成隆老師</div>
                </div>
                <div class="text">裡面那位先生好帥!!!謝謝!</div>
                </div>
                <div class="user remote">
                    <div class="avatar">
                        <div class="pic">
                        <img src="/static/thanks_card/林宛瑩2.jpg" />
                        </div>
                        <div class="name">林宛瑩老師</div>
                    </div>
                    <div class="text">謝謝你們的用心與心意<br>
                        是一份令我萬分窩心的禮物<br>
                        不知電子卡片能下載嗎?想好好牢記大家的心意<br>
                        祝  你們  鵬程萬里  一展長才</div>
                    </div>
                    <div class="user remote">
                        <div class="avatar">
                            <div class="pic">
                            <img src="/static/thanks_card/諶家蘭2.jpg" />
                            </div>
                            <div class="name">諶家蘭老師</div>
                        </div>
                        <div class="text">很感動，謝謝同學們的畢業感言。</div>
                        </div>
            </div>
            </div>
            
            <div class="img-web"  style="margin-top:83px:">
            <div class="dialogue">
            <div style="border-bottom:3px rgb(255, 255, 255) solid ; box-shadow: 0 6px 4px -4px #888;">
                <h3>＜13&emsp;政大會計系教師群組&emsp;&#128269;📒</h3>
            </div>
            <div class="user local" style="margin-top:20px">
                <div class="avatar">
                    <div class="pic">
                    <img src="/static/Profile Pic.png" />
                    </div>
                    <div class="name">小計</div>
                </div>
                <div class="text">謝謝老師們4年來的照顧！</div>
                </div>
                <div class="user local">
                    <div class="avatar">
                        <div class="pic">
                            <img src="/static/Profile Pic.png" />
                        </div>
                        <div class="name">小計</div>
                    </div>
                    <div class="text">希望各位老師會喜歡我們準備的謝師卡&#10084;</div>
                </div>
            <div class="user remote">
            <div class="avatar">
                <div class="pic">
                <img src="/static/thanks_card/周玲臺2.jpg" />
                </div>
                <div class="name">周玲臺老師</div>
            </div>
            <div class="text">編輯團隊與81屆乙班畢業生大家好：<br>
                真是開心收到妳們團隊製作的謝師電子書，內容好豐富好可愛，讓我想起你們一張張熟悉又清純的臉龐。在疏離的疫情當中，激起我內心澎湃的感情。
                是我的榮幸，在退休前最後一班審計課教到你們，三年多前也有幸在啟蒙的初會接到你們這一班，緣分匪淺呢！從開始到結束，多難得的偶然！
                會計、審計內容可能會變，我與你們的師生情分永遠不變。有空多連絡，更祝福你們 鵬程萬里，專業精進！</div>
            </div>
            <div class="user remote">
                <div class="avatar">
                    <div class="pic">
                    <img src="/static/thanks_card/金成隆1.jpg" />
                    </div>
                    <div class="name">金成隆老師</div>
                </div>
                <div class="text">裡面那位先生好帥!!!謝謝!</div>
                </div>
                <div class="user remote">
                    <div class="avatar">
                        <div class="pic">
                        <img src="/static/thanks_card/林宛瑩2.jpg" />
                        </div>
                        <div class="name">林宛瑩老師</div>
                    </div>
                    <div class="text">謝謝你們的用心與心意<br>
                        是一份令我萬分窩心的禮物<br>
                        不知電子卡片能下載嗎?想好好牢記大家的心意<br>
                        祝  你們  鵬程萬里  一展長才</div>
                    </div>
                    <div class="user remote">
                        <div class="avatar">
                            <div class="pic">
                            <img src="/static/thanks_card/諶家蘭2.jpg" />
                            </div>
                            <div class="name">諶家蘭老師</div>
                        </div>
                        <div class="text">很感動，謝謝同學們的畢業感言。</div>
                        </div>
            </div>
            </div>

        <div class="flexbox-horizontal-button2">
            <button class="button-white" style="margin:auto;" onclick="window.location.href='/thanks_card'">回前頁</button>
        </div>
        </section>
          
       
        </div>
        <footer class="flexbox-horizontal">
            <div class="flexbox-vertical" style="align-items: flex-start;">
                <tiny>@NCCU ACCT 2021</tiny>>
                <tiny style="position: relative; top: -10px;">By MengChiehLiu  |  Lili Lin</tiny>
            </div>
            <img src="/static/icon-github.png" alt="icon-github" class="icon-github">
        </footer>
    </body>
    <script src="/static/hamburger-menu.js"></script>
</html>
          
          
