<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <title>謝師卡</title> 
        <!--<link rel="icon" href="/static/favicon.png" sizes="16x16">-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css">
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico"/>
        <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    
    
    <body>
        <div id="wrapper_for_sticky_footer">
        <div id="bg">
            <div class="img-mobile">
                <img src="/static/star-left.png" alt="star" class="img-star-left">
                <img src="/static/star-right.png" alt="star" class="img-star-right">
                <img src="/static/cloud-1.png" class="bg-cloud" style="z-index: -2;">
                <img src="/static/cloud-2.png" class="bg-cloud" style="z-index: -3;">
            </div>

            <div class="img-tablet">
                <img src="/static/star-left-web.png" alt="star" class="img-star-left">
                <img src="/static/star-right-web.png" alt="star" class="img-star-right">
                <img src="/static/cloud-form-web.png" alt="bg-cloud" class="bg-cloud-web">
            </div>

            <div class="img-web">
                <img src="/static/star-left-web.png" alt="star" class="img-star-left">
                <img src="/static/star-right-web.png" alt="star" class="img-star-right">
                <img src="/static/cloud-form-web.png" alt="bg-cloud" class="bg-cloud-web">
            </div>
        </div>
            
        <header id="header" class="sticky">
            <div class="img-mobile">
                <img src="/static/icon-hamburger.png" alt="hamburger-menu" class="icon-hamburger">
            </div>
            <div class="img-tablet">
                <img src="/static/icon-hamburger.png" alt="hamburger-menu" class="icon-hamburger">
            </div>

            <div class="img-web">
                <!-- Web Sticky Header -->
                <div class="flexbox-horizontal-web" style="align-items: center;">
                    <img src="/static/icon-angel.png" alt="icon-angel" class="icon-angel">
                    <div>
                        <a href="/home" class="menu">首頁</a>
                        <a href="/forms" class="menu">傳情 &#9993;&#xFE0F;</a>
                        <a href="/board" class="menu">留言板 &#9997;&#xFE0F;</a>
                        <a href="/vote" class="menu">投票所 &#128499;</a>
                        <a href="/thanks_card" class="menu">謝師函 &#127880;</a>
                    </div>
                    
                </div>
            </div>
        </header>

        <!-- Mobile Hamburger Menu -->
        <div id="hamburger-menu" class="">
            <a href="/home" class="menu">首頁</a>
            <a href="/forms" class="menu">傳情 &#9993;&#xFE0F;</a>
            <a href="/board" class="menu">留言板 &#9997;&#xFE0F;</a>
            <a href="/vote" class="menu">投票所 &#128499;</a>
            <a href="/thanks_card" class="menu">謝師函 &#127880;</a>
            <img src="/static/icon-close.png" alt="icon-close" class="icon-close">
        </div>

        <section id="form" class="center-aligned">
            <h1>謝師卡頁面試作！</h1>
                        <div class="img-web">
                <div class="box-blue flexbox-vertical center-aligned">
                    <p style="width: 94%; margin:auto; text-align: center; color: #FFE382; font-size: 36px;line-height: 70px; font-weight: bold;">謝師卡編輯團隊：</p>
                    <p style="width: 94%; margin:auto; text-align: center;">張雅涵、陳薏婷、張祐瑄、蘇奕丞<br>羅孟筠、鄭至均、劉孟頡、林莉</p>
                </div>
            <table width=100% cellpadding="8px">
                <tr>
                    <td width=33.33%> 
                        <div class="hover-box" >
                            <div class="img-box">
                                <img style="display:block;" src="/static/thanks_card/凌菁1.jpg" width=100%>
                            </div>
                            <div class="info-box">
                                <div class="info-content">
                                <a href="https://issuu.com/106nccuacct/docs/_5658e255023605"><h2>詹凌菁老師</h2></a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td width=33.33%>
                        <div class="hover-box">
                            <div class="img-box">
                                <img style="display:block;" src="/static/thanks_card/王文英1.jpg" width=100%>
                            </div>
                            <div class="info-box">
                                <div class="info-content">
                                <a href="https://issuu.com/106nccuacct/docs/_81_"><h2>王文英老師</h2></a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td width=33.33%>
                        <div class="hover-box">
                            <div class="img-box">
                                <img style="display:block;" src="/static/thanks_card/俞洪昭1.jpg" width=100%>
                            </div>
                            <div class="info-box">
                                <div class="info-content">
                                <a href="https://issuu.com/106nccuacct/docs/_81_1b353830f17357"><h2>俞洪昭老師</h2></a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width=33.33%>                        
                        <div class="hover-box">
                        <div class="img-box">
                            <img style="display:block;" src="/static/thanks_card/林禹銘1.jpg" width=100%>
                        </div>
                        <div class="info-box">
                            <div class="info-content">
                            <a href="https://issuu.com/106nccuacct/docs/_dbd0cba5aaade9"><h2>林禹銘老師</h2></a>
                            </div>
                        </div>
                    </div></td>
                
                    <td width=33.33%>
                        <div class="hover-box">
                            <div class="img-box">
                                <img style="display:block;" src="/static/thanks_card/金成隆1.jpg" width=100%>
                            </div>
                            <div class="info-box">
                                <div class="info-content">
                                <a href="https://issuu.com/106nccuacct/docs/_0b5b01dc73a005"><h2>金成隆老師</h2></a>
                                </div>
                            </div>
                        </div>
                    </td>

                
                    <td width=33.33%>                        
                        <div class="hover-box">
                        <div class="img-box">
                            <img style="display:block;" src="/static/thanks_card/家蘭1.jpg" width=100%>
                        </div>
                        <div class="info-box">
                            <div class="info-content">
                            <a href="https://issuu.com/106nccuacct/docs/_81_._ac8cba6c3aa036"><h2>諶家蘭老師</h2></a>
                            </div>
                        </div>
                    </div></td>
                </tr>
                <tr>
                    <td width=33.33%>                        
                        <div class="hover-box">
                        <div class="img-box">
                            <img style="display:block;" src="/static/thanks_card/蔡金拋1.jpg" width=100%>
                        </div>
                        <div class="info-box">
                            <div class="info-content">
                            <a href="https://issuu.com/106nccuacct/docs/_19e72cdca48c91"><h2>蔡金拋老師</h2></a>
                            </div>
                        </div>
                    </div>
                </td>
                    <td width=33.33%>                        
                        <div class="hover-box">
                            <div class="img-box">
                                <img style="display:block;" src="/static/thanks_card/玲臺1.jpg" width=100%>
                            </div>
                            <div class="info-box">
                                <div class="info-content">
                                <a href="https://issuu.com/106nccuacct/docs/_75a8d11b3b9eb2"><h2>周玲臺老師</h2></a>
                                </div>
                            </div>
                        </div></td>
                    
                
                    <td width=33.33%> 
                        <div class="hover-box">
                            <div class="img-box">
                                <img style="display:block;" src="/static/thanks_card/陳錦烽1.jpg" width=100%>
                            </div>
                            <div class="info-box">
                                <div class="info-content">
                                <a href="https://issuu.com/106nccuacct/docs/_81_."><h2>陳錦烽老師</h2></a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width=33.33%>
                        <div class="hover-box">
                            <div class="img-box">
                                <img style="display:block;" src="/static/thanks_card/嘉紋1.jpg" width=100%>
                            </div>
                            <div class="info-box">
                                <div class="info-content">
                                <a href="https://issuu.com/106nccuacct/docs/_46a7dc3f7ceb1c"><h2>梁嘉紋老師</h2></a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td width=33.33%>
                        <div class="hover-box">
                            <div class="img-box">
                                <img style="display:block;" src="/static/thanks_card/明進1.jpg" width=100%>
                            </div>
                            <div class="info-box">
                                <div class="info-content">
                                <a href="https://issuu.com/106nccuacct/docs/_"><h2>陳明進老師</h2></a>
                                </div>
                            </div>
                        </div>
                    </td>
                
                    <td width=33.33%>                        
                        <div class="hover-box">
                        <div class="img-box" >
                            <img style="display:block;" src="/static/thanks_card/宛瑩1.jpg" width=100%>
                        </div>
                        <div class="info-box">
                            <div class="info-content">
                            <a href="https://issuu.com/106nccuacct/docs/copy_of_dear_"><h2>林宛瑩老師</h2></a>
                            </div>
                        </div>
                    </div></td>
                </tr>
            </table>
        </div>

                <div class="img-tablet">
                    <div class="box-blue flexbox-vertical center-aligned">
                        <p style="width: 94%; margin:auto; text-align: center; color: #FFE382; font-size: 36px;line-height: 70px; font-weight: bold;">謝師卡編輯團隊：</p>
                        <p style="width: 94%; margin:auto; text-align: center;">張雅涵、陳薏婷、張祐瑄、蘇奕丞<br>羅孟筠、鄭至均、劉孟頡、林莉</p>
                    </div>
                    <table width=100% cellpadding="8px">
                    <tr>
                        <td width=50%> 
                            <div class="hover-box">
                                <div class="img-box">
                                    <img style="display:block;" src="/static/thanks_card/凌菁1.jpg" width=100%>
                                </div>
                                <div class="info-box">
                                    <div class="info-content">
                                    <a href="https://issuu.com/106nccuacct/docs/_5658e255023605"><h2>詹凌菁老師</h2></a>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td width=50%>
                            <div class="hover-box">
                                <div class="img-box">
                                    <img style="display:block;" src="/static/thanks_card/王文英1.jpg" width=100%>
                                </div>
                                <div class="info-box">
                                    <div class="info-content">
                                    <a href="https://issuu.com/106nccuacct/docs/_81_"><h2>王文英老師</h2></a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width=50%>
                            <div class="hover-box">
                                <div class="img-box">
                                    <img style="display:block;" src="/static/thanks_card/俞洪昭1.jpg" width=100%>
                                </div>
                                <div class="info-box">
                                    <div class="info-content">
                                    <a href="https://issuu.com/106nccuacct/docs/_81_1b353830f17357"><h2>俞洪昭老師</h2></a>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td width=50%>                        
                            <div class="hover-box">
                            <div class="img-box">
                                <img style="display:block;" src="/static/thanks_card/林禹銘1.jpg" width=100%>
                            </div>
                            <div class="info-box">
                                <div class="info-content">
                                <a href="https://issuu.com/106nccuacct/docs/_dbd0cba5aaade9"><h2>林禹銘老師</h2></a>
                                </div>
                            </div>
                        </div></td>
                    </tr>
                    <tr>
                        <td width=50%>
                            <div class="hover-box">
                                <div class="img-box">
                                    <img style="display:block;" src="/static/thanks_card/金成隆1.jpg" width=100%>
                                </div>
                                <div class="info-box">
                                    <div class="info-content">
                                    <a href="https://issuu.com/106nccuacct/docs/_0b5b01dc73a005"><h2>金成隆老師</h2></a>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td width=50%>                        
                            <div class="hover-box">
                            <div class="img-box">
                                <img style="display:block;" src="/static/thanks_card/家蘭1.jpg" width=100%>
                            </div>
                            <div class="info-box">
                                <div class="info-content">
                                <a href="https://issuu.com/106nccuacct/docs/_81_._ac8cba6c3aa036"><h2>諶家蘭老師</h2></a>
                                </div>
                            </div>
                        </div></td>
                    </tr>
                    <tr>
                        <td width=50%>                        
                            <div class="hover-box">
                            <div class="img-box">
                                <img style="display:block;" src="/static/thanks_card/蔡金拋1.jpg" width=100%>
                            </div>
                            <div class="info-box">
                                <div class="info-content">
                                <a href="https://issuu.com/106nccuacct/docs/_19e72cdca48c91"><h2>蔡金拋老師</h2></a>
                                </div>
                            </div>
                        </div>
                    </td>
                        <td width=50%>                        
                            <div class="hover-box">
                                <div class="img-box">
                                    <img style="display:block;" src="/static/thanks_card/玲臺1.jpg" width=100%>
                                </div>
                                <div class="info-box">
                                    <div class="info-content">
                                    <a href="https://issuu.com/106nccuacct/docs/_75a8d11b3b9eb2"><h2>周玲臺老師</h2></a>
                                    </div>
                                </div>
                            </div></td>
                        </tr>
                        <tr>
                        <td width=50%> 
                            <div class="hover-box">
                                <div class="img-box">
                                    <img style="display:block;" src="/static/thanks_card/陳錦烽1.jpg" width=100%>
                                </div>
                                <div class="info-box">
                                    <div class="info-content">
                                    <a href="https://issuu.com/106nccuacct/docs/_81_."><h2>陳錦烽老師</h2></a>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td width=50%>
                            <div class="hover-box">
                                <div class="img-box">
                                    <img style="display:block;" src="/static/thanks_card/嘉紋1.jpg" width=100%>
                                </div>
                                <div class="info-box">
                                    <div class="info-content">
                                    <a href="https://issuu.com/106nccuacct/docs/_46a7dc3f7ceb1c"><h2>梁嘉紋老師</h2></a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width=50%>
                            <div class="hover-box">
                                <div class="img-box">
                                    <img style="display:block;" src="/static/thanks_card/明進1.jpg" width=100%>
                                </div>
                                <div class="info-box">
                                    <div class="info-content">
                                    <a href="https://issuu.com/106nccuacct/docs/_"><h2>陳明進老師</h2></a>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td width=50%>                        
                            <div class="hover-box">
                            <div class="img-box" >
                                <img style="display:block;" src="/static/thanks_card/宛瑩1.jpg" width=100%>
                            </div>
                            <div class="info-box">
                                <div class="info-content">
                                <a href="https://issuu.com/106nccuacct/docs/copy_of_dear_"><h2>林宛瑩老師</h2></a>
                                </div>
                            </div>
                        </div></td>
                    </tr>
                </table>
            </div>



        
            <div class="img-mobile">
                <div class="box-blue flexbox-vertical center-aligned">
                    <p style="width: 94%; margin:auto; text-align: center; color: #FFE382; font-size: 24px;line-height: 50px; font-weight: bold;">謝師卡編輯團隊：</p>
                    <p style="width: 94%; margin:auto; text-align: center;">張雅涵、陳薏婷、張祐瑄、蘇奕丞<br>羅孟筠、鄭至均、劉孟頡、林莉</p>
                </div>
            <table width=100%>
                <tr>
                    <td width=100%> 
                        <div class="hover-box" >
                            <div class="img-box">
                                <img style="display:block;" src="/static/thanks_card/凌菁1.jpg" width=100%>
                            </div>
                            <div class="info-box">
                                <div class="info-content">
                                <a href="https://issuu.com/106nccuacct/docs/_5658e255023605"><h2 style="font-size: 38px;">詹凌菁老師</h2></a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width=100%>
                        <div class="hover-box">
                            <div class="img-box">
                                <img style="display:block;" src="/static/thanks_card/王文英1.jpg" width=100%>
                            </div>
                            <div class="info-box center-aligned">
                                <div class="info-content center-aligned">
                                <a href="https://issuu.com/106nccuacct/docs/_81_"><h2 style="font-size: 38px;">王文英老師</h2></a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width=100%>
                        <div class="hover-box">
                            <div class="img-box">
                                <img style="display:block;" src="/static/thanks_card/俞洪昭1.jpg" width=100%>
                            </div>
                            <div class="info-box center-aligned">
                                <div class="info-content center-aligned">
                                <a href="https://issuu.com/106nccuacct/docs/_81_1b353830f17357"><h2 style="font-size: 38px;">俞洪昭老師</h2></a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width=100%>                        
                        <div class="hover-box">
                        <div class="img-box">
                            <img style="display:block;" src="/static/thanks_card/林禹銘1.jpg" width=100%>
                        </div>
                        <div class="info-box center-aligned">
                            <div class="info-content center-aligned">
                            <a href="https://issuu.com/106nccuacct/docs/_dbd0cba5aaade9"><h2 style="font-size: 38px;">林禹銘老師</h2></a>
                            </div>
                        </div>
                    </div></td>
                </tr>
                <tr>
                    <td width=100%>
                        <div class="hover-box">
                            <div class="img-box">
                                <img style="display:block;" src="/static/thanks_card/金成隆1.jpg" width=100%>
                            </div>
                            <div class="info-box center-aligned">
                                <div class="info-content center-aligned">
                                <a href="https://issuu.com/106nccuacct/docs/_0b5b01dc73a005"><h2 style="font-size: 38px;">金成隆老師</h2></a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                
                    <td width=100%>                        
                        <div class="hover-box">
                        <div class="img-box">
                            <img style="display:block;" src="/static/thanks_card/家蘭1.jpg" width=100%>
                        </div>
                        <div class="info-box center-aligned">
                            <div class="info-content center-aligned">
                            <a href="https://issuu.com/106nccuacct/docs/_81_._ac8cba6c3aa036"><h2 style="font-size: 38px;">諶家蘭老師</h2></a>
                            </div>
                        </div>
                    </div></td>
                </tr>
                <tr>
                    <td width=100%>                        
                        <div class="hover-box">
                        <div class="img-box">
                            <img style="display:block;" src="/static/thanks_card/蔡金拋1.jpg" width=100%>
                        </div>
                        <div class="info-box center-aligned">
                            <div class="info-content center-aligned">
                            <a href="https://issuu.com/106nccuacct/docs/_19e72cdca48c91"><h2 style="font-size: 38px;">蔡金拋老師</h2></a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                    <td width=100%>                        
                        <div class="hover-box">
                            <div class="img-box">
                                <img style="display:block;" src="/static/thanks_card/玲臺1.jpg" width=100%>
                            </div>
                            <div class="info-box center-aligned">
                                <div class="info-content center-aligned">
                                <a href="https://issuu.com/106nccuacct/docs/_75a8d11b3b9eb2"><h2 style="font-size: 38px;">周玲臺老師</h2></a>
                                </div>
                            </div>
                        </div></td>
                    </tr>
                    <tr>
                
                    <td width=100%> 
                        <div class="hover-box">
                            <div class="img-box">
                                <img style="display:block;" src="/static/thanks_card/陳錦烽1.jpg" width=100%>
                            </div>
                            <div class="info-box center-aligned">
                                <div class="info-content center-aligned">
                                <a href="https://issuu.com/106nccuacct/docs/_81_."><h2 style="font-size: 38px;">陳錦烽老師</h2></a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width=100%>
                        <div class="hover-box">
                            <div class="img-box">
                                <img style="display:block;" src="/static/thanks_card/嘉紋1.jpg" width=100%>
                            </div>
                            <div class="info-box center-aligned">
                                <div class="info-content center-aligned">
                                <a href="https://issuu.com/106nccuacct/docs/_46a7dc3f7ceb1c"><h2 style="font-size: 38px;">梁嘉紋老師</h2></a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width=100%>
                        <div class="hover-box">
                            <div class="img-box">
                                <img style="display:block;" src="/static/thanks_card/明進1.jpg" width=100%>
                            </div>
                            <div class="info-box center-aligned">
                                <div class="info-content center-aligned">
                                <a href="https://issuu.com/106nccuacct/docs/_"><h2 style="font-size: 38px;">陳明進老師</h2></a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width=100%>                        
                        <div class="hover-box">
                        <div class="img-box" >
                            <img style="display:block;" src="/static/thanks_card/宛瑩1.jpg" width=100%>
                        </div>
                        <div class="info-box center-aligned">
                            <div class="info-content center-aligned">
                            <a href="https://issuu.com/106nccuacct/docs/copy_of_dear_"><h2 style="font-size: 38px;">林宛瑩老師</h2></a>
                            </div>
                        </div>
                    </div></td>
                </tr>
            </table>
        </div>



        <div class="center-aligned flexbox-horizontal-button2">
            <button class="button-yellow" onclick="window.location.href='forms.html'">看老師們回覆！</button>
        </div>

            
           
        </section>
       
        </div>
        <footer class="flexbox-horizontal">
            <div class="flexbox-vertical" style="align-items: flex-start;">
                <tiny>@NCCU ACCT 2021</tiny>>
                <tiny style="position: relative; top: -10px;">By MengChiehLiu  |  Lili Lin</tiny>
            </div>
            <img src="/static/icon-github.png" alt="icon-github" class="icon-github">
        </footer>
    </body>
    <script src="/static/hamburger-menu.js"></script>
</html>
