<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <title>謝師卡</title> 
        <!--<link rel="icon" href="/static/favicon.png" sizes="16x16">-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css">
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico"/>
        <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    
    
    <body>
        <div id="wrapper_for_sticky_footer">
        <div id="bg">
            <div class="img-mobile">
                <img src="/static/star-left.png" alt="star" class="img-star-left">
                <img src="/static/star-right.png" alt="star" class="img-star-right">
                <img src="/static/cloud-1.png" class="bg-cloud" style="z-index: -2;">
                <img src="/static/cloud-2.png" class="bg-cloud" style="z-index: -3;">
            </div>

            <div class="img-tablet">
                <img src="/static/star-left-web.png" alt="star" class="img-star-left">
                <img src="/static/star-right-web.png" alt="star" class="img-star-right">
                <img src="/static/cloud-form-web.png" alt="bg-cloud" class="bg-cloud-web">
            </div>

            <div class="img-web">
                <img src="/static/star-left-web.png" alt="star" class="img-star-left">
                <img src="/static/star-right-web.png" alt="star" class="img-star-right">
                <img src="/static/cloud-form-web.png" alt="bg-cloud" class="bg-cloud-web">
            </div>
        </div>
            
        <header id="header" class="sticky">
            <div class="img-mobile">
                <img src="/static/icon-hamburger.png" alt="hamburger-menu" class="icon-hamburger">
            </div>
            <div class="img-tablet">
                <img src="/static/icon-hamburger.png" alt="hamburger-menu" class="icon-hamburger">
            </div>

            <div class="img-web">
                <!-- Web Sticky Header -->
                <div class="flexbox-horizontal-web" style="align-items: center;">
                    <img src="/static/icon-angel.png" alt="icon-angel" class="icon-angel">
                    <div>
                        <a href="/home" class="menu">首頁</a>
                        <a href="/forms" class="menu">傳情 &#9993;&#xFE0F;</a>
                        <a href="/board" class="menu">留言板 &#9997;&#xFE0F;</a>
                        <a href="/votes" class="menu">投票所 &#128499;</a>
                        <a href="/thanks_card" class="menu">謝師函 &#127880;</a>
                    </div>
                    
                </div>
            </div>
        </header>

        <!-- Mobile Hamburger Menu -->
        <div id="hamburger-menu" class="">
            <a href="/home" class="menu">首頁</a>
            <a href="/forms" class="menu">傳情 &#9993;&#xFE0F;</a>
            <a href="/board" class="menu">留言板 &#9997;&#xFE0F;</a>
            <a href="/votes" class="menu">投票所 &#128499;</a>
            <a href="/thanks_card" class="menu">謝師函 &#127880;</a>
            <img src="/static/icon-close.png" alt="icon-close" class="icon-close">
        </div>

        <section id="form" class="center-aligned">
            <h1>謝師卡頁面試作！</h1>
            <div class="img-web">
            <table width="100%" >
                <tr>
                    <td>
                        <div class="hover-box">
                            <div class="img-box">
                                <img style="display:block;" src="/static/gif/凌菁.gif" width=100%>
                            </div>
                            <div class="info-box">
                                <div class="info-content">
                                <a href="https://issuu.com/ricebugj/docs/_"><h2>詹凌菁老師</h2></a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td><div class="hover-box">
                            <div class="img-box">
                                <img style="display:block;" src="/static/gif/凌菁.gif" width=100%>
                            </div>
                            <div class="info-box">
                                <div class="info-content">
                                <a href="https://issuu.com/ricebugj/docs/_"><h2>詹凌菁老師</h2></a>
                                </div>
                            </div>
                        </div></td>
                    <td><div class="hover-box">
                            <div class="img-box">
                                <img style="display:block;" src="/static/gif/凌菁.gif" width=100%>
                            </div>
                            <div class="info-box">
                                <div class="info-content">
                                <a href="https://issuu.com/ricebugj/docs/_"><h2>詹凌菁老師</h2></a>
                                </div>
                            </div>
                        </div></td>
                </tr>
                <tr>
                    <td><div class="hover-box">
                            <div class="img-box">
                                <img style="display:block;" src="/static/gif/凌菁.gif" width=100%>
                            </div>
                            <div class="info-box">
                                <div class="info-content">
                                <a href="https://issuu.com/ricebugj/docs/_"><h2>詹凌菁老師</h2></a>
                                </div>
                            </div>
                        </div>
                    </td>
                    
                    
                    <td style="width:33.33%"><div class="hover-box">
                            <div class="img-box">
                                <img style="display:block;" src="/static/gif/小天使.png" width=100% height=width>
                            </div>
                            <div class="info-box">
                                <div class="info-content">
                                <a href="https://nccuacct-angels.herokuapp.com/home"><h2>回首頁</h2></a>
                                </div>
                            </div>
                        </div></td>
                    <td><div class="hover-box">
                            <div class="img-box">
                                <img style="display:block;" src="/static/gif/凌菁.gif" width=100%>
                            </div>
                            <div class="info-box">
                                <div class="info-content">
                                <a href="https://issuu.com/ricebugj/docs/_"><h2>詹凌菁老師</h2></a>
                                </div>
                            </div>
                        </div></td>
                </tr>
                <tr>
                    <td><div class="hover-box">
                            <div class="img-box">
                                <img style="display:block;" src="/static/gif/凌菁.gif" width=100%>
                            </div>
                            <div class="info-box">
                                <div class="info-content">
                                <a href="https://issuu.com/ricebugj/docs/_"><h2>詹凌菁老師</h2></a>
                                </div>
                            </div>
                        </div></td>
                    <td><div class="hover-box">
                            <div class="img-box">
                                <img style="display:block;" src="/static/gif/凌菁.gif" width=100%>
                            </div>
                            <div class="info-box">
                                <div class="info-content">
                                <a href="https://issuu.com/ricebugj/docs/_"><h2>詹凌菁老師</h2></a>
                                </div>
                            </div>
                        </div></td>
                    <td><div class="hover-box">
                            <div class="img-box">
                                <img style="display:block;" src="/static/gif/凌菁.gif" width=100%>
                            </div>
                            <div class="info-box">
                                <div class="info-content">
                                <a href="https://issuu.com/ricebugj/docs/_"><h2>詹凌菁老師</h2></a>
                                </div>
                            </div>
                        </div></td>
                </tr>
            </table>
            </div>
            <div class="img-mobile">
            <table width="100%" >
                <tr>
                    <td>
                        <div class="hover-box">
                            <div class="img-box">
                                <img style="display:block;" src="/static/gif/凌菁.gif" width=100%>
                            </div>
                            <div class="info-box">
                                <div class="info-content">
                                <a href="https://issuu.com/ricebugj/docs/_"><h2>詹凌菁老師</h2></a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><div class="hover-box">
                            <div class="img-box">
                                <img style="display:block;" src="/static/gif/凌菁.gif" width=100%>
                            </div>
                            <div class="info-box">
                                <div class="info-content">
                                <a href="https://issuu.com/ricebugj/docs/_"><h2>詹凌菁老師</h2></a>
                                </div>
                            </div>
                        </div></td>
                </tr>
                <tr>
                    <td><div class="hover-box">
                            <div class="img-box">
                                <img style="display:block;" src="/static/gif/凌菁.gif" width=100%>
                            </div>
                            <div class="info-box">
                                <div class="info-content">
                                <a href="https://issuu.com/ricebugj/docs/_"><h2>詹凌菁老師</h2></a>
                                </div>
                            </div>
                        </div></td>
                </tr>
                <tr>
                    <td><div class="hover-box">
                            <div class="img-box">
                                <img style="display:block;" src="/static/gif/凌菁.gif" width=100%>
                            </div>
                            <div class="info-box">
                                <div class="info-content">
                                <a href="https://issuu.com/ricebugj/docs/_"><h2>詹凌菁老師</h2></a>
                                </div>
                            </div>
                        </div></td>
                </tr>
                <tr>
                    <td style="width:100%"><div class="hover-box">
                            <div class="img-box">
                                <img style="display:block;" src="/static/gif/小天使.png" width=100% height=width >
                            </div>
                            <div class="info-box">
                                <div class="info-content">
                                <a href="https://nccuacct-angels.herokuapp.com/home"><h2>回首頁</h2></a>
                                </div>
                            </div>
                        </div></td>
                </tr>
                <tr>
                    <td><div class="hover-box">
                            <div class="img-box">
                                <img style="display:block;" src="/static/gif/凌菁.gif" width=100%>
                            </div>
                            <div class="info-box">
                                <div class="info-content">
                                <a href="https://issuu.com/ricebugj/docs/_"><h2>詹凌菁老師</h2></a>
                                </div>
                            </div>
                        </div></td>
                </tr>
                <tr>
                    <td><div class="hover-box">
                            <div class="img-box">
                                <img style="display:block;" src="/static/gif/凌菁.gif" width=100%>
                            </div>
                            <div class="info-box">
                                <div class="info-content">
                                <a href="https://issuu.com/ricebugj/docs/_"><h2>詹凌菁老師</h2></a>
                                </div>
                            </div>
                        </div></td>
                </tr>
                <tr>
                    <td><div class="hover-box">
                            <div class="img-box">
                                <img style="display:block;" src="/static/gif/凌菁.gif" width=100%>
                            </div>
                            <div class="info-box">
                                <div class="info-content">
                                <a href="https://issuu.com/ricebugj/docs/_"><h2>詹凌菁老師</h2></a>
                                </div>
                            </div>
                        </div></td>
                </tr>
                <tr>
                
                    <td><div class="hover-box">
                            <div class="img-box">
                                <img style="display:block;" src="/static/gif/凌菁.gif" width=100%>
                            </div>
                            <div class="info-box">
                                <div class="info-content">
                                <a href="https://issuu.com/ricebugj/docs/_"><h2>詹凌菁老師</h2></a>
                                </div>
                            </div>
                        </div></td>
                </tr>
            </table>
            </div>

            
            <iframe allowfullscreen allow="fullscreen" style="border:none;width:100%;height:500px;" src="https://issuu.com/ricebugj/docs/_"></iframe>
        </section>
       
        </div>
        <footer class="flexbox-horizontal">
            <div class="flexbox-vertical" style="align-items: flex-start;">
                <tiny>@NCCU ACCT 2021</tiny>>
                <tiny style="position: relative; top: -10px;">By MengChiehLiu  |  Lili Lin</tiny>
            </div>
            <img src="/static/icon-github.png" alt="icon-github" class="icon-github">
        </footer>
    </body>
    <script src="/static/hamburger-menu.js"></script>
</html>
