<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <title>我要傳情</title> 
        <!--<link rel="icon" href="favicon.png" sizes="16x16">-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <link rel="icon" type="image/x-icon" href="favicon.ico"/>
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    
    
    <body>
        <div id="wrapper_for_sticky_footer">
        <div id="bg">
            <div class="img-mobile">
                <img src="assets/star-left.png" alt="star" class="img-star-left">
                <img src="assets/star-right.png" alt="star" class="img-star-right">
                <img src="assets/cloud-1.png" class="bg-cloud" style="z-index: -2;">
                <img src="assets/cloud-2.png" class="bg-cloud" style="z-index: -3;">
            </div>

            <div class="img-tablet">
                <img src="assets/star-left-web.png" alt="star" class="img-star-left">
                <img src="assets/star-right-web.png" alt="star" class="img-star-right">
                <img src="assets/cloud-form-web.png" alt="bg-cloud" class="bg-cloud-web">
            </div>

            <div class="img-web">
                <img src="assets/star-left-web.png" alt="star" class="img-star-left">
                <img src="assets/star-right-web.png" alt="star" class="img-star-right">
                <img src="assets/cloud-form-web.png" alt="bg-cloud" class="bg-cloud-web">
            </div>
        </div>

        <section id="form" class="center-aligned">
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd-2iZH7pOdolg25IjAUBfvHLv6WNDreMlfJeyuEX8in_V3ZQ/viewform?embedded=true" width="100%" height="1451" frameborder="0" marginheight="0" marginwidth="0">載入中…</iframe>
        </section>
       
        </div>
        <footer class="flexbox-horizontal">
            <div class="flexbox-vertical" style="align-items: flex-start;">
                <tiny>@NCCU ACCT 2021</tiny>>
                <tiny style="position: relative; top: -10px;">By MengChiehLiu  |  Lili Lin</tiny>
            </div>
            <img src="assets/icon-github.png" alt="icon-github" class="icon-github">
        </footer>
    </body>
</html>
